
/*@font-face {
  font-family: myFont;
  src: url(._FSIndustrieVF.woff2);
  font-weight: normal;
  font-style: normal;
}*/

body
{
    /*font-family: myFont;*/
	height: 5000px;
	min-height: 100%;
	font-size: 16px;
}

a:link
{
	color:black;
	text-decoration:none;
}

a:visited
{
	color:black;
}

#time a:link
{
    color:red;
    text-decoration:none;
}

#time a:visited
{
    color:red;
}

.fst
{
    height: auto;
    position:relative;
    display:inline-block;
    width:45%;
    margin-left: 3%;
    text-align: right;
}

.middle
{
    height: auto;
    display:inline-block;
    position:relative;
    width: 3%;
    text-align: center;
}

.snd
{
    height: auto;
    position:relative;
    display:inline-block;
    width: 45%;
}

.real
{
	position:absolute;
	height: 20px;
    white-space: nowrap;
}

.fst2
{
    margin-right : 6%;
    margin-left: -6%;
    opacity : 0;
    right: 0%;
    background: linear-gradient(to left, black, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.snd2
{
    left: 10.5%;
    opacity: 0;
    background: linear-gradient(to right, black, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#key
{
	margin-top:40%;
	float:left;
	width: 5%;
	position: fixed;
}
